<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629898650915-np6qld5h44ndm8phjvtnlsjvkp89f9k9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629898650915-np6qld5h44ndm8phjvtnlsjvkp89f9k9</string>
	<key>API_KEY</key>
	<string>AIzaSyBnS8JXQdfvawjyKfkKKvNqbrIa6C1z72c</string>
	<key>GCM_SENDER_ID</key>
	<string>629898650915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eliteapps.techsocial</string>
	<key>PROJECT_ID</key>
	<string>headhuntd-837c2</string>
	<key>STORAGE_BUCKET</key>
	<string>headhuntd-837c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629898650915:ios:fcdccc5df74b7f12589896</string>
	<key>DATABASE_URL</key>
	<string>https://headhuntd-837c2-default-rtdb.firebaseio.com</string>
</dict>
</plist>